$color-primary: orange;
$color-secondary:gray;
$color-tertiary: royalblue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

.nav{
    background-color:lighten($color-primary, 20%);
    ul li{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: $color-secondary;
        font-size: $font-sm;

        &:hover{
            color: $color-tertiary;
        }
    }
}

@function FontSize($Size) {
    @return $Size * 2;
}

@mixin headingstyles ($FontSize){
    font-size: $FontSize;
    color: $color-secondary;
    text-align: center;
}

@mixin transition($param...){
    transition: $param;
}

.banner h1{
    @include headingstyles($font-lg)
}

.footer h3{
    @include headingstyles($font-md)
    @include transition(color .5s, background-color 1s)

    &:hover{
        color: $color-tertiary;
        background-color: $color-primary;
    }
}

.banner p{
    font-size: FontSize($font-sm);
}